body{
    background-color:#eeeff3;
}
@media (max-width:2590px){ /*1100px 이상부터 보여지는 화면(PC)*/
    .content_wrap{
        width:100%;
        position:relative;
        left:0;
    }
    .apc_manage{
        width:60%;
        height:auto;
        position: relative;
        margin:0 auto;
        margin-bottom:100px;
        /*background-color: #fff;*/
        /*border:1px solid #c9c9c9;*/
        box-sizing: border-box;
    }
    .outtext{
        width:60%;
        height:1.5em;
        margin:0 auto;
        position:relative;
        font-size:1em;
        margin-top:50px;
        margin-bottom:20px;
    }
    .apc_h3{
        float:left;
        margin-left:15px;
    }
    .apc_count{
        float:right;
        margin-right:15px;
    }
    .apc_count span{
        color:#1c69f5;
    }
    .apc_list{
        width:49.5%;
        height:108px;
        border:1px solid #e3e3e3;
        box-sizing: border-box;
        font-size:12px;
        float:left;
        background-color: #fff;
        -webkit-touch-callout: none; user-select: none; -moz-user-select: none; -ms-user-select: none; -webkit-user-select: none;
    }
    .apc_list:nth-child(2){
        margin-left:1%;
    }
    .apc_list img{
        width:70px;
        height:70px;
        float:left;
        border-radius:100%;
        margin:18px;
    }
    .apc_list_p1 span:nth-child(1){
        font-size:14px;
    }
    .apc_list_p1 span:nth-child(2){
        font-size:12px;
    }
    .apc_list_p3, .apc_list_p4{margin-right:20px;}
    .apc_list_p3, .apc_list_p4, .apc_list_p5{display:inline-block;}
    .apc_list_p1{
        margin-top:15px;
    }
    .apc_list p{
        line-height:200%;
    }
    .apc_list_p3 span, .apc_list_p4 span, .apc_list_p5 span{
        color:#1c69f5;
    }
    .apc_listbox{
        width:100%;
        height:auto;
        float:left;
        box-sizing: border-box;
        /*border:1px solid #ddd;*/
        margin-bottom:20px;
    }
    .viewbox{
        width:100%;
        height:500px;
        margin-bottom:50px;
        position: relative;
        top:0;
        border:1px solid #e3e3e3;
        box-sizing: border-box;
        background-color: #fff;
        display:none;
    }
    .viewbox .apc_list{
        width:100%;
        top:-1px;
        box-sizing: border-box;
        border:0;
        border-bottom:1px solid #e3e3e3;
    }
    .view_a{margin-left:50px;position: absolute;top:34px;right:50px;}
    .view_a1, .view_a2{
        display:inline-block;
        width:100px;
        height:40px;
        text-align: center;
        line-height:340%;
        background-color: #1c69f5;
        color:#fff;
    }
    .view_a1{
        margin-right:10px;
    }
    .view_a2{
        color:#000;
        background-color: #eeeeee;
    }
    .view_a3{
        width:150px;
        height:45px;
        margin:20px auto;
        text-align: center;
        line-height:45px;
        background-color: #1c69f5;
        color:#fff;
        text-align:center;
        font-size:13px;
        display:block;
    }
    .p6{
        text-align:center;
        font-size:13px;
    }
}